<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab0da">  <td>20/09/29 14:30:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CreateAccount.openBrowser()[pri:0, instance:com.rediff.regristration.CreateAccount@13c10b87]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@511717113</td>   <td></td> </tr>
<tr bgcolor="6ab0da">  <td>20/09/29 14:31:13</td>   <td>14796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.createAccount()[pri:1, instance:com.rediff.regristration.CreateAccount@13c10b87]">createAccount</td> 
  <td>main@511717113</td>   <td></td> </tr>
<tr bgcolor="6ab0da">  <td>20/09/29 14:31:19</td>   <td>21032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.login()[pri:2, instance:com.rediff.regristration.CreateAccount@13c10b87]">login</td> 
  <td>main@511717113</td>   <td></td> </tr>
<tr bgcolor="6ab0da">  <td>20/09/29 14:31:51</td>   <td>52783</td> <td>&nbsp;</td><td title="&lt;&lt;CreateAccount.closeBrowser()[pri:0, instance:com.rediff.regristration.CreateAccount@13c10b87]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@511717113</td>   <td></td> </tr>
</table>
